<!doctype html>
<html>
  <head>
    <title>Users and Interests</title>
  </head>
  <body>
    <%= yield %>

    <br />
    <p>There are <%= @users.count %> users with a total of <%= count_interests %></p>
  </body>
</html>
